mixin mediaRight(src,alt,caption,classes,h3,txt1,txt2,txt1Class,txt2Class)
    .media(class= classes)
        .media-contents
            if h3
                h3.media__ttl= h3
            else
                .media__txt(class= txt1Class)= txt1
            if txt2
                .media__txt(class= txt2Class)= txt2
        .media-caption
            .media__img
                img(src=src alt=alt)
            p.media__img--txt.mt10= caption
            